@media only screen and (min-width: 375px) {
  body {
    background: url('/assets/crew/background-crew-mobile.jpg');
    background-size: cover;
    height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: url('/assets/crew/background-crew-tablet.jpg');
    background-size: cover;
    height: 100vh;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    background: url('/assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    height: 100vh;
  }
}
